body{
    color: white;
 

}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
padding-top: 10rem;
padding-bottom: 14rem;    
    text-align: center;
    background: url('/images/stars.svg');
    background-position: center;

}

.hero-item{
    margin: 10px;
    max-width: 50%;
    margin: 0 auto;
    gap: 2rem;
}

.hero-1{
    font-size: 1.3rem;
}
.hero-2{
    font-size: 3.3rem;
    color: linear-gradient(to bottom, #FFFFFF, #888888);
    line-height: none;
    font-weight: bolder;
}
.hero-3{
    display: flex;
    gap: 2rem;
}
.blogbutton{
    /* background-color: rgba(111, 70, 136, 0.521); */
    padding: 7px;
    border: 1px rgba(195, 99, 254, 0.521) solid;
    border-radius: 2rem;
    padding: 0.4rem 1.5rem;
    box-shadow: inset 0 0 10px 2px rgba(122, 24, 106, 0.7); /* Adjust the color and spread as desired */


}

.blogbutton:hover{
    background-color: rgba(128, 0, 128, 0.356);

}
.aboutmebutton{
    color: #ffffff8f;
}

.aboutmebutton:hover{
    color: white;

}



/* Media Queries for Mobile */

@media(max-width:768px){
    .hero-item{
        max-width:100%;
        margin: 0 auto;

    }
    .hero-1{
        font-size:1rem;
    }
    .hero-2{
        font-size:2rem;
    }

}